<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.school.mongolian.dao.TestDao">
<!--    <resultMap id="testDao" type="com.school.mongolian.po.Test">-->
<!--        <id column="id" jdbcType="INT" property=""-->
<!--    </resultMap>-->

    <select id="getAllList" resultType="com.school.mongolian.po.Test">
        select * from mongolian.mongo_test
    </select>

</mapper>
